body {
color: turquoise;
background-color: darkkhaki;
text-align: center;

.p1 {
    color: white;
    font-size: large;
    text-align: center;

}

.headline {
    display: block;
    color: saddlebrown;
    font-size: xx-large;
    font-family : sans-serif;
    border-bottom: 2px darkgreen dotted;
    border-width: 4px;
    padding: 0 2px;
}

.ul {
    color: white;
    font-size: medium;
    text-align: left;

}


.ol {
    color: white;
    font-size: medium;
    text-align: left;
}

.buttons {
    display: inline-block;
    padding: 10px;
    background: saddlebrown;
    background-size: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;



}

